
@media (hover :hover){
  .ftrSMSec ._cntntBox .whtsappIntpCont ._intptFrmCnt ._intptFrm button:hover {
    background-color: #d84824;
    color: white; }
    footer .subFooter ._linkBx ._lnk p a:hover {
      color: #E76F51;
      text-decoration: underline; }
      
}

/* Common Laptop View */
@media (min-width: 1280px) and (max-width: 1366px) {
  .topSldrSec {
    padding-top: 120px; }
    .topSldrSec .topSldrCont ._cntntBox, .topSldrSec .topSldrCont ._imgBox {
      min-height: 450px;
      max-height: 450px;
       }
    .topSldrSec .topSldrCont ._cntntBox {
      margin-bottom: 25px; }
      .hwitWrkSec ._cntnt ._hdngBox h1{
        color: #19485c;
      }
      .hwitWrkSec ._cntnt ._hdngBox h1 span{
        background-color: white;
      }
  .whtsappIntpCont ._intptFrmCnt {
    height: auto; }
    .whtsappIntpCont ._intptFrmCnt ._intptFrm {
      height: auto;
      /* flex-direction: column;} */}
      .whtsappIntpCont ._intptFrmCnt ._intptFrm ._inputBox {
        margin-bottom: 15px;
        border-radius: 5px; }
      .whtsappIntpCont ._intptFrmCnt ._intptFrm button {
        height: 50px; } }

/* Laptop view */
@media (min-width:1025px) and (max-width:1279px){
  header .subHdr ._leftArea .menu-left li a{
    padding-left: 0px;
    font-size: 15px;
  }
  header .subHdr ._rightArea .mainNav .menu li a{
    font-size: 15px;
  }
  header .subHdr ._rightArea .langDropdown .activeBar a span{
    font-size: 15px;
  }
  header .subHdr ._rightArea .langDropdown .activeBar i{
    margin-right: 5px;
  }
  .topSldrSec .topSldrCont ._cntntBox h1{
    font-size: 28px;
  }

  .hwitWrkSec ._imgCont.web img.img31.slick-slide {
    width: 400px !important;
    padding-top: 10px;
    margin-left: 3%;}
    .hwitWrkSec ._imgCont.web img.img32.slick-slide {
      width: 400px !important;
      height: 80%;
      margin: 0px;
      margin-left: 6% !important; }
      .slick-dots{
        margin-left: -13px;
      }
      .slick-dots > li{
        margin-bottom: 40px;
      }
      .ftrSMSec ._cntntBox .whtsappIntpCont{
        width: 100%;
      }
}

        
/* Tablet Pro View */
@media (max-width: 1024px) {
  header .subHdr ._leftArea .menu-left li a {
   
    padding-left: 0px; 
    font-size: small;
    margin-bottom: 0%;}
  .topSldrSec .topSldrCont{
    padding-top: 0px; 
    display: flex;}
    .topSldrSec .topSldrCont ._cntntBox {
      padding-top: 40px;
      padding-right: 42px;
      min-height: auto;
      }
      .topSldrSec .topSldrCont ._cntntBox, .topSldrSec .topSldrCont ._imgBox {
        
        margin-top: 50px;
        max-height: 450px; 
        min-width: 500px;
       }  
       .topSldrSec .topSldrCont ._cntntBox h1{
         font-size: 28px;
       }  
       .hwitWrkSec ._cntnt.knowCont{
         padding-top: 12%;
       }
       .hwitWrkSec._intrfaceSec ._cntnt{
         margin-top: 30%;
         margin-left: 4%;
         
       }
.fail,.fail-foot,.success,.success-foot,.response,.response-foot{
  margin-top: 3%;
}
  ._webIntrfcSec {
    padding-top: 0px; }
    ._webIntrfcSec .container {
      display: flex; }
      .hwitWrkSec ._imgCont.web img.img31.slick-slide {
        width: 450px !important;
        padding-top: 10px;
        margin-left: 10px;}
        .hwitWrkSec ._imgCont.web img.img32.slick-slide {
          width: 400px !important;
          height: 80%;
          margin: 0px;
          margin-left: 40px !important; }

  .ftrSMSec ._cntntBox h1 {
    font-size: 32px; }

  .ftrSMSec ._cntntBox._joinCntnt {
    padding: 40px; }
    /* .whtsappIntpCont{

    } */
  
    .whtsappIntpCont ._intptFrmCnt ._intptFrm button {
      height: 50px;
      margin-top: 0px; } 
      footer .subFooter ._linkBx .support {
        position: relative;
        margin-left: 100px;
    }
    .slick-dots{
      margin-left: -10px;
    }
    .slick-dots > li{
      margin-bottom: 50px;
    }
    .faqSec .faqsCntnt > li ._hdng:hover {
      color: #333;}
      .faqSec .faqsCntnt > li.active ._hdng{
        color: #E76F51;
      }
    .ftrSMSec ._cntntBox._joinCntnt h5{
      font-size: 22px;
    }
    .ftrSMSec ._cntntBox .whtsappIntpCont{
      width: 90%;
    }
         
    }
   

/* Tablet View */
@media (max-width: 1023px) and (min-width: 992px) {
  header .container {
    width: 100%; }
  header .subHdr ._rightArea .mainNav .menu li {
    margin-right: 20px; }
    header .subHdr ._rightArea .mainNav .menu li a {
      font-size: 16px;
      text-transform: initial;
      letter-spacing: 0; }
      

  .topSldrSec {
    padding-top: 85px; }
    .topSldrSec .topSldrCont ._cntntBox, .topSldrSec .topSldrCont ._imgBox {
      background-size: 100%;
      margin-top: 50px; }
    .topSldrSec .topSldrCont ._cntntBox {
      padding-top: 50px;
      min-height: auto;
      max-height: auto; }

  ._webIntrfcSec {
    padding-top: 70px; }
    ._webIntrfcSec .container {
      display: flex; }
  .ftrSMSec ._cntntBox {
    min-height: auto;
    padding-bottom: 30px; }

  .ftrSMSec {
    padding-bottom: 30px; }
    .ftrSMSec .container {
      display: flex; }
      .ftrSMSec .container > div {
        width: 100%; }
    .ftrSMSec ._cntntBox._joinCntnt {
      padding: 30px; }

  .whtsappIntpCont ._intptFrmCnt {
    height: auto; }
    /* .whtsappIntpCont ._intptFrmCnt ._intptFrm {
      flex-direction: column; } */
      .whtsappIntpCont ._intptFrmCnt ._intptFrm button {
        height: 50px;
        margin-top: 0px; }
        .hwitWrkSec ._imgCont.web img {
          width: 75%;
          margin-left: 50px; 
          margin-top: 50px;
          justify-content: center;
          overflow: hidden;}
          .hwitWrkSec ._imgCont.mobile img {
            width: 99%;
            margin-left: 0px;
            margin-right: 2%;
            margin-top: 0px; 
            justify-content: center;
            float: right;
            overflow:hidden;}
      .hwitWrkSec ._cntnt.webCont {
        width: max-content;
        display: flex;
        margin-left: 70px;
        padding:0 ;
        padding-top: 10%;
       }
       
       .hwitWrkSec ._imgCont.web img.img31.slick-slide {
        width: 40px !important;
        padding-top: 10px;
        margin-left: 150px;}
        .hwitWrkSec ._imgCont.web img.img32.slick-slide {
          width: 400px !important;
          height: 80%;
          margin: 0px;
          margin-left: 80px !important; }
       ._hdngBox h1 {
        margin-top: 20px; }
        .hwitWrkSec ._cntnt.mobileCont {
          margin-top: 10%;
          padding: 0%;
          margin-left: 10%;
          margin-bottom: -7%; }
          .topSldrSec .topSldrCont ._cntntBox h1{
            font-size: 38px;
          }
          .slick-dots{
            margin-left: -12px;
          }
          .slick-dots > li{
            margin-bottom: 80px;
          }
          .faqSec .faqsCntnt > li ._hdng:hover {
            color: #333;}
            .faqSec .faqsCntnt > li.active ._hdng{
              color: #E76F51;
            }
      
          /* .hwitWrkSec ._cntnt.mobileCont ._hdngBox h1:after
        {
          margin-left: 150px;
          
        }
         */
      }


@media (max-width: 1023px) and (min-width: 768px) {
  header .subHdr {
    height: 65px;
    align-items: center; }
    header .subHdr ._rightArea .mainNav{
      margin-bottom: 9%;
    }
    .topSldrSec .topSldrCont ._cntntBox h1{
      font-size: 38px;
    }
    header .subHdr ._rightArea .mainNav .menu {
      display: none; }
    
      .topSldrSec .topSldrCont ._cntntBox{
        padding-top: 0px;
      }
  .whySec .srvcBxCnt ._whyBoxCont {
    max-width: 45%; }
    .whySec .srvcBxCnt ._whyBoxCont {
      min-height: auto;
      width: 440px;
      height: 440px;
      max-width: 100%;
      margin: 20px 10px; }
      .whySec .srvcBxCnt ._whyBoxCont ._icon{
        height: 150px;
        width: 150px;
        margin-bottom: 35px;
      }
      .whySec .srvcBxCnt ._whyBoxCont ._icon img{
        height: 150px;
        width: 150px;
      }
      .whySec .srvcBxCnt ._whyBoxCont h3{
        font-size: 28px;
        margin-bottom: 22px;
      }
      .whySec .srvcBxCnt ._whyBoxCont p{
        font-size: 19px;
      }

      ._hdngBox h1 {
        margin-top: 20px;
        font-size: 38px; }
        .hwitWrkSec._webIntrfcSec{
          padding-top: 50px;
        }
  .ftrSMSec ._cntntBox h1 {
    font-size: 30px; }
    .faqSec .faqsCntnt > li ._hdng:hover {
      color: #333;}
      .faqSec .faqsCntnt > li.active ._hdng{
        color: #E76F51;
      }

  .ftrSMSec .whtsappIntpCont ._intptFrmCnt ._intptFrm {
    flex-direction: unset; }
    .topSldrSec .topSldrCont ._cntntBox h1{
      font-size: 28px;
    }

    .hwitWrkSec ._imgCont.web img.img31.slick-slide {
      width: 400px !important;
      padding-top: 10px;
      margin-left: 10%;}
      .hwitWrkSec ._imgCont.web img.img32.slick-slide {
        width: 400px !important;
        height: 80%;
        margin: 0px;
        margin-left: 22% !important; }
        .slick-dots{
          margin-left: -12px;
        }
        .slick-dots > li{
          margin-bottom: 80px;
        }
  }
  @media (max-width: 1023px) and (min-width: 320px) and (orientation: Landscape){
    .topSldrSec .topSldrCont{
      display: block !important;
    }
    .topSldrSec .topSldrCont ._imgBox{
      min-height: 238px !important;
      float: left !important;
      margin-top: 39px !important;
      min-width: 305px !important;
      margin-bottom: 5px !important;
      width: 50% !important;
    }
    .topSldrSec .topSldrCont ._cntntBox{
      width: 30%;
      margin-top: 38px;
      min-width: 313px;
      float: right;
      padding: 5px;
      
    }
    .topSldrSec .topSldrCont ._cntntBox h1{
      font-size: 22px !important;
      line-height: 28px !important;
    }
    .faqSec .faqsCntnt > li ._hdng:hover {
      color: #333;}
      .faqSec .faqsCntnt > li.active ._hdng{
        color: #E76F51;
      }
    .whtsappIntpCont ._intptFrmCnt ._intptFrm{
      display: block;
      margin-top: 30px;
    }
    .whtsappIntpCont ._intptFrmCnt ._intptFrm ._inputBox{
      width: 89%;
      height: 45px;
      
    }
    .whtsappIntpCont ._intptFrmCnt ._intptFrm button{
      height: 45px;
      margin-top: 8px;
      width: 89%;
    }
    .whtsappIntpCont ._intptFrmCnt ._intptFrm ._inputBox input{
      font-size: 14px !important;
      width: 100%;
      padding-left: 8px;
    }
    .whtsappIntpCont ._intptFrmCnt ._intptFrm ._inputBox span img{
      max-width: 24px;
      margin-left: 0;
      margin-bottom: 2px;
    }
    .whtsappIntpCont ._intptFrmCnt ._intptFrm.foot{
      display: flex;
      }
      .whtsappIntpCont ._intptFrmCnt ._intptFrm.foot button{
        height: 45px;
        margin-top: 0;
        width: 49%;
      }
      .whtsappIntpCont ._intptFrmCnt ._intptFrm.foot ._inputBox span img{
        max-width: 25px;
        margin-left: 10px;
        margin-bottom: 2px;
      }
  }
  
/* Mobile Landscape */
@media (max-width: 1023px) and (min-width: 320px) {
  header .subHdr ._rightArea .hmbrgerMenu {
    display: block; }
  header .subHdr ._rightArea .mainNav .menu {
    display: none;
    background-color: #fff;
    position: absolute;
    z-index: 1;
    top: 120%;
    padding: 25px 50px;
    right: 0;
    margin-right: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    min-width: 250px; }
    header .subHdr ._rightArea .mainNav .menu li {
      margin-right: 0; }
      header .subHdr ._rightArea .mainNav .menu li a {
        height: 45px;
        white-space:normal; }
      .topSldrSec .topSldrCont{
        display: flex;
        flex-direction: column-reverse;
      }
      .topSldrSec .topSldrCont ._cntntBox h1{
        margin-bottom: 0px;
      }
      .faqSec .faqsCntnt > li ._hdng:hover {
        color: #333;}
        .faqSec .faqsCntnt > li.active ._hdng{
          color: #E76F51;
        }

      .hwitWrkSec {
        padding: 50px 0 0;
        border-top: 1px solid #eee; }
        .hwitWrkSec._webIntrfcSec {
          padding-top: 50px; }
          .hwitWrkSec._webIntrfcSec .container {
            display: flex;
            flex-direction: column-reverse; }
          .hwitWrkSec._webIntrfcSec ._cntnt {
            padding-left: 0; 
            margin-left: 2%;
            padding-top: 2%;}
        .hwitWrkSec.hwitWrkSec._dashboardSec {
          padding-bottom: 20px;
          border-bottom: 1px solid #eee; }
        .hwitWrkSec ._cntnt ._hdngBox {
          margin-bottom: 70px; }
          .hwitWrkSec ._cntnt ._hdngBox h1 {
            font-size: 26px; } 
            .hwitWrkSec ._imgCont.web img {
              width: 75%;
              margin-left: 50px; 
              margin-top: 50px;
              justify-content: center;
              overflow: hidden;}
              .hwitWrkSec ._imgCont.mobile img {
                width: 99%;
                margin-left: 0px;
                margin-right: 2%;
                margin-top: -7%;
                margin-bottom: -13%; 
                justify-content: center;
                float: right;
                overflow:hidden;}
          .hwitWrkSec ._cntnt.webCont {
            width: max-content;
            display: flex;
            margin-left: 2%;
            padding:0 ;
            padding-top: 2%;
           }
           
            .hwitWrkSec ._cntnt ._hdngBox > p{
              padding-left: 69px;
              padding-top: 20px;
              color: black;
              width: 600px;
            }
            .hwitWrkSec ._cntnt.mobileCont {
              margin-top: 10%;
              padding: 0%;
              margin-left: 2%;
              margin-bottom: -7%; }
              .hwitWrkSec ._cntnt.mobileCont ._hdngBox h1:after
            {
              margin-left: 150px;
              
            }
            footer .subFooter ._linkBx ._lnk._ftrSM {
              justify-content: center;
              padding-top: 10px;
            }
      /* footer {
        padding: 20px 0 20px; }
        footer .subFooter {
          flex-direction: column; }
          footer .subFooter ._linkBx ._lnk {
              margin-left: 190px;
             }
             footer .subFooter ._linkBx ._lnk._ftrSM{
               margin-left: 190px ;
             }
             footer .subFooter ._linkBx ._lnk li a{
              justify-self: center;
               margin-left: 80px;
                }
          footer .subFooter ._linkBx {
            margin-bottom: 5px;
             }
            footer .subFooter ._linkBx:last-child {
              margin-bottom: 0; } */
              
    }



    

/* Mobile view */
@media (max-width: 767px) and (min-width: 320px) {
  header .subHdr ._logoBox {
    min-width: auto; 
    margin-bottom: 0;}
  header .subHdr ._logoBox img {
    height: 45px; 
    margin-bottom: 0;
    margin-top: 7.5px;}
    header .subHdr ._leftArea .menu-left li{
      margin-bottom: 0;
    }
    header .subHdr ._leftArea .menu-left li a {
      color: #225E77;
      padding-left: 0px; 
      font-size: 14px;
      margin-bottom: 0%;}
      header .subHdr ._leftArea .menu-left{
        margin-top: 5%;
      }

      header .subHdr{
        margin-bottom: 15px;
      }
  header .subHdr ._rightArea .mainNav {
    flex-direction: row-reverse;
    margin-top: 10%; }
  header .subHdr ._rightArea .hmbrgerMenu {
    margin-left: 15px;
    margin-right: 10px;
     }
    
  .topSldrSec {
    padding-top: 65px;
    padding-bottom: 0; }
    .topSldrSec .container {
      padding: 0; }
    .topSldrSec .topSldrCont {
      display: flex;
      flex-direction: column-reverse; }
      .topSldrSec .topSldrCont ._cntntBox {
        padding-top: 0;
        padding-bottom: 25px; }
        .topSldrSec .topSldrCont ._cntntBox h1 {
          font-size: 36px;
          line-height: 35px;
          margin-bottom: 15px; }
          .whtsappIntpCont ._intptFrmCnt ._intptFrm ._inputBox input{
            font-size: 20px;
          }

  
  ._hdngBox {
    margin-bottom: 30px; }
    ._hdngBox h1 {
      font-size: 36px;
      line-height: 32px; 
      padding-top:  30px; ;}

  .ftrSMSec {
    padding-top: 0; }
    .ftrSMSec ._cntntBox {
      min-height: auto; }
      .ftrSMSec ._cntntBox h1 {
        font-size: 26px;
        margin-bottom: 20px; }
    .ftrSMSec ._cntntBox._joinCntnt {
      padding: 20px; }
    .ftrSMSec ._cntntBox._anyQstnCont {
      padding: 20px; }

  .whySec {
    padding: 50px 0; }
    .whySec .srvcBxCnt ._whyBoxCont {
      min-height: auto;
      width: 440px;
      height: 440px;
      max-width: 100%;
      margin: 20px 10px; }
      .whySec .srvcBxCnt ._whyBoxCont ._icon{
        height: 150px;
        width: 150px;
        margin-bottom: 35px;
      }
      .whySec .srvcBxCnt ._whyBoxCont ._icon img{
        height: 150px;
        width: 150px;
      }
      .whySec .srvcBxCnt ._whyBoxCont h3{
        font-size: 28px;
        margin-bottom: 22px;
      }
      .whySec .srvcBxCnt ._whyBoxCont p{
        font-size: 21px;
        font-weight:600;
      }

      

  .whtsappIntpCont h3 {
    font-weight: 400;
    font-size: 16px; }

  .hwitWrkSec {
    padding: 50px 0 0;
    border-top: 1px solid #eee; }
    .hwitWrkSec._webIntrfcSec {
      padding-top: 50px; }
      .hwitWrkSec._webIntrfcSec .container {
        display: flex;
        flex-direction: column-reverse; }
      .hwitWrkSec._webIntrfcSec ._cntnt {
        padding-left: 0; 
        margin-left: 2%;
        padding-top: 2%;}
    .hwitWrkSec.hwitWrkSec._dashboardSec {
      padding-bottom: 20px;
      border-bottom: 1px solid #eee; }
    .hwitWrkSec ._cntnt ._hdngBox {
      margin-bottom: 70px; }
      .hwitWrkSec ._cntnt ._hdngBox h1 {
        font-size: 26px; } 
        .hwitWrkSec ._imgCont.web img {
          width: 75%;
          margin-left: 50px; 
          margin-top: 50px;
          margin-bottom: 50px;
          justify-content: center;
          overflow: hidden;}
          .hwitWrkSec ._imgCont.web img.img32.slick-slide {
            width: 450px !important;
            margin-bottom: 60px !important;
            margin: 0px;
            margin-left: 150px !important; } 
            .hwitWrkSec ._imgCont.web img.img31.slick-slide {
              width: 450px !important;
              height: 80%;
              margin: 0px;
              margin-left: 75px !important; } 
          .hwitWrkSec ._imgCont.mobile img {
            width: 99%;
            margin-left: 0px;
            margin-right: 2%;
            margin-top: -7%;
            margin-bottom: -13%; 
            justify-content: center;
            float: right;
            overflow:hidden;}
      .hwitWrkSec ._cntnt.webCont {
        width: max-content;
        display: flex;
        margin-left: 2%;
        padding:0 ;
        padding-top: 2%;
       }
       
        .hwitWrkSec ._cntnt ._hdngBox > p{
          padding-left: 69px;
          padding-top: 20px;
          color: black;
          width: 600px;
          font-size: 19px;
        }
        .hwitWrkSec ._cntnt.mobileCont {
          margin-top: 10%;
          padding: 0%;
          margin-left: 2%;
          margin-bottom: -7%; }
          .hwitWrkSec ._cntnt.mobileCont ._hdngBox h1:after
        {
          margin-left: 150px;
          
        }

        .slick-dots{
          margin-left: 5px;
        }
        .faqSec .faqsCntnt > li ._hdng:hover {
          color: #333;}
          .faqSec .faqsCntnt > li.active ._hdng{
            color: #E76F51;
          }
        .ftrSMSec ._cntntBox._joinCntnt h5{
          font-size: 18px;
        }
        .ftrSMSec ._cntntBox .whtsappIntpCont{
          width: 86%;
        }
      }


/*# sourceMappingURL=responsive.css.map */
