// Variables

/* Social Media color */
$faceboook: 	#3b5998;
$instagram: 	#ff0084;
$twitter: 		#55acee;
$youtube: 		#b31217;
$linkedIn: 		#0077b5;
$google_plus: 	#dc4e41;
$pinterest: 	#bd081c;
$whatsapp: 		#25D366;

/* colors */
$grey: 			#545454;
$black: 		#222222;
$white: 		#FFFFFF;
$green:			#078930;


/* Animation */
$transition: all 0.3s ease-in;	

/* font name */
$font: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$pt: 'PT Serif', serif;
